.glowing_left {
	width: 20.833vw;
	height: 20.833vw;
	background-color: transparent;
	/* Цвет фона div (если нужен) */
	box-shadow: 28.646vw 5.208vw 16.146vw 6.51vw #143348;
	z-index: 20;
}

.glowing_right {
	width: 10.417vw;
	height: 10.417vw;
	background-color: transparent;
	/* Цвет фона div (если нужен) */
	box-shadow: 28.646vw 5.208vw 16.146vw 6.51vw #143348;
	z-index: 20;
}