.glowing_left {
	width: 400px;
	height: 400px;
	background-color: transparent;
	/* Цвет фона div (если нужен) */
	box-shadow: 550px 100px 310px 125px #143348;
	z-index: 20;
}

.glowing_right {
	width: 200px;
	height: 200px;
	background-color: transparent;
	/* Цвет фона div (если нужен) */
	box-shadow: 550px 100px 310px 125px #143348;
	z-index: 20;
}