.glowing_div {
	width: 20.833vw;
	/* Установите желаемую ширину */
	height: 20.833vw;
	/* Установите желаемую высоту */
	background-color: transparent;
	/* Цвет фона div (если нужен) */
	box-shadow: 28.646vw 5.208vw 16.146vw 6.51vw rgba(5, 60, 170, 0.149);
}

.number {
	text-shadow: 0 0 0.781vw #22ECF3;
	-webkit-text-stroke: 0.104vw #22ECF3;

	@media only screen and (max-width: 1024px) {
		text-shadow: 0 0 2vw #22ECF3;
		-webkit-text-stroke: 0.5vw #22ECF3;
	}
}

.quote_glow {
	color: white;
	background: linear-gradient(90deg, rgb(255, 255, 255) 15%, #33B7BC, rgb(255, 255, 255) 80%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}