@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background-color: #161516;
  white-space: pre-wrap;
}

// * {
//   outline: 1px solid red;
//   box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
// }

body,
html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.417vw;
}

/* Стили для ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background: #555155;
  border-radius: 0.104vw;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 0.208vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .headerGradient {
    background: linear-gradient(rgba(20, 19, 19, 0.87) 0%, rgba(36, 35, 35, 0.544) 70%);
  }
}